html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

body {
  font-size: 16px;
  line-height: 21px;
  background: #59876A;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #800000;
}

p {
  margin-bottom: 1.1em;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: .8em;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.product-section {
  background: gray;
  border: 2px solid black;
  width: 23% auto;
  margin-left: 10px;
}
.product-section h2 {
  text-align: center;
  padding: 10px 0;
}
.product-section .basketball img {
  width: 200px;
  height: 200px;
  opacity: .6;
  transition: opacity 250ms linear;
}
.product-section .basketball img:hover {
  opacity: 1;
}
.product-section .basketball p {
  padding: 5px;
}

/*.main {
  width: 65%;
  margin-right: 5%;
  font-size: 16px;
}

.side {
  width: 30%;
  color: #666;
  font-size: 14px;
}*/
.everything {
  padding-top: 50px;
}

div.section1 {
  background-image: url("storepic.jpeg");
  height: 500px;
  background-size: cover;
}
div.section1 .headbox {
  margin-left: 20px;
  margin-top: 30px;
  padding: 10px 5px;
  height: 150px;
  font-weight: bold;
  color: #cc0000;
  /*border: 1px solid black;*/
  /*background-color: rgba(89, 135, 106, 0.4);*/
}

.persona, .personb, .personc, .persond {
  padding: 30px 10px 30px 10px;
}
.persona .text, .personb .text, .personc .text, .persond .text {
  width: 75%;
  display: inline-block;
}
.persona h3, .personb h3, .personc h3, .persond h3 {
  display: block;
}
.persona p, .personb p, .personc p, .persond p {
  /*width:60%;*/
  display: inline-block;
}
.persona .pic, .personb .pic, .personc .pic, .persond .pic {
  display: inline-block;
  border-radius: 100%;
  /*width:50px;*/
  /*height: 50px;*/
  margin-right: 20px;
  /*text-align:right;*/
}
.persona img, .personb img, .personc img, .persond img {
  opacity: 0.75;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.persona img:hover, .personb img:hover, .personc img:hover, .persond img:hover {
  opacity: 1;
}

.testimonial h2 {
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
}

header {
  padding-top: 15px;
  height: 50px;
  position: fixed;
  width: 100%;
  background: linear-gradient(#59876a, #7070ff);
}
header span {
  padding-left: 5px;
  font-weight: bold;
}
header a {
  opacity: 0.6;
  text-decoration: none;
  padding-left: 15px;
}
header a:hover {
  opacity: 1;
}
header i {
  transition: all 750ms linear;
  opacity: 0.6;
  padding-right: 5px;
}
header i:hover {
  opacity: 1;
  -webkit-transform: rotate(360deg);
}
