@import "reset";
$gray-color: #808080;

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 21px;
  background: #59876A;
}

a {
  color: #800000;
}

p {
  margin-bottom: 1.1em;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: .8em;
}
h2{
  font-size: 24px;
  font-weight: bold;
}
h3{
  font-size: 18px;
  font-weight: bold;
}
.product-section{
  background: $gray-color;
  border: 2px solid black;
  width:23% auto;
  margin-left: 10px;
  h2{
    text-align: center;
    padding:10px 0;
  }
  .basketball{
    img{
      width: 200px;
      height: 200px;
      opacity: .6;
      transition: opacity 250ms linear;
      &:hover{
        opacity:1;
      }
    }
    p{
      padding: 5px;
    }
  }
}


