@import "reset";
$gray-color: #808080;

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

body {
  font-size: 16px;
  line-height: 21px;
  background: #59876A;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #800000;
}

p {
  margin-bottom: 1.1em;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: .8em;
  font-family: 'Ubuntu', sans-serif;
}
h2{
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.product-section {
  background: $gray-color;
  border: 2px solid black;
  width:23% auto;
  max-width: 1200px;
  margin: 0 auto;


  h2{
    text-align: center;
    padding:10px 0;
  }

  .basketball{

    img{
      width: 200px;
      height: 200px;
      opacity: .6;
      transition: opacity 250ms linear;

      &:hover{
        opacity:1;
      }
    }

    p{
      padding: 5px;
    }
}
}

/*.main {
  width: 65%;
  margin-right: 5%;
  font-size: 16px;
}

.side {
  width: 30%;
  color: #666;
  font-size: 14px;
}*/

.everything {
  padding-top: 50px;
}

div.section1 {
  background-image: url('storepic.jpeg');
  height:500px;
  background-size:cover;
  background-position: center center; 
  margin: 0 auto;
   max-width: 1200px;
  .headbox {
    margin-left:20px;
    margin-top: 30px;
    padding:10px 5px;
    height:200px;
    font-weight: bold;
    color: white;
    /*border: 1px solid black;*/
    /*background-color: rgba(89, 135, 106, 0.4);*/
  }
}
.section2 {
    margin: 0 auto;
    max-width: 1200px;
}
.persona, .personb, .personc, .persond {
  padding:30px 10px 30px 10px;

  .text {
    width:75%;
    display: inline-block;
  }
  h3 {
    display:block;
  }
  p {
    /*width:60%;*/
    display: inline-block;
  }
  .pic {
    display:inline-block;
    border-radius: 100%;
    /*width:50px;*/
    /*height: 50px;*/
    margin-right: 20px;
    /*text-align:right;*/
  }
  img {
    opacity: 0.75;
    height: 50px;
    width:50px;
    border-radius: 100%;
  }
 img:hover {
  opacity:1;
  }
}
.testimonial h2 {
    padding-top: 15px;
    text-align:center;
    font-weight: bold;
  }

header {
  padding-top: 15px;
  height: 50px;
  position: fixed;
  width: 100%;
  background: linear-gradient(#59876A, lighten(blue, 26%));
  span {
    padding-left: 5px;
    font-weight: bold;
  }
  a {
    opacity: 0.6;
    text-decoration: none;
    padding-left: 15px;
  }
  a:hover{
    opacity: 1;
  }
  i {
    transition:all 750ms linear;
    opacity: 0.6;
    padding-right: 5px;
  }
  i:hover {
    opacity:1;
    -webkit-transform:rotate(360deg);
  }
}
.textbox {
  width:100%;
}
.contacts {
  font-size: 0;
}
.textbox, .check, span, option, select, .request, button {
  font-size:16px;
}
select {
  width: 75%;
}
.request {
  height: 200px;
  width: 100%;
}
button {
  height:50px;
  width: 75%;
}


